{% extends "index.html" %}

{% block title %}Lista de Artistas{% endblock title %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'album_list' %}">Lista de Álbumes</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" href="{% url 'album_list' %}">Volver a Lista de Álbumes</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="container my-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="titulo">Título del Álbum</label>
                <input type="text" class="form-control" id="titulo" name="titulo" value="{{ form.titulo.value }}" required>
            </div>
            <div class="form-group">
                <label for="año_lanzamiento">Año de Lanzamiento</label>
                <input type="number" class="form-control" id="año_lanzamiento" name="año_lanzamiento" value="{{ form.año_lanzamiento.value }}" required>
            </div>
            <div class="form-group">
                <label for="genero">Género</label>
                <input type="text" class="form-control" id="genero" name="genero" value="{{ form.genero.value }}" required>
            </div>
            <div class="form-group">
                <label for="artista">Artista Asociado</label>
                <select class="form-control" id="artista" name="artista" required>
                    {% for artista in artistas %}
                        <option value="{{ artista.id }}" {% if form.artista.value == artista.id %}selected{% endif %}>{{ artista.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="portada">Portada</label>
                <input type="file" class="form-control-file" id="portada" name="portada">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </main>
    {% endblock content %}
   
